<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
  <title>WebSocket test</title>
</head>
<body>
<h1>WebSocket Chat Test</h1>
<div id="chat"></div>
<input type="text" id="nickname" placeholder="Enter your nickname">
<input type="text" id="message" placeholder="Type your message">
<button id="send">Send</button>

<div id="button-container">
  <form action="/test/restaurantList" method="get">
    <button type="submit">Go restaurantList</button>
  </form>
</div>

<script>
  var socket = new WebSocket("ws://43.201.204.106:8080/chat");
  var chatWindow = document.getElementById("chat");
  var nicknameInput = document.getElementById("nickname");
  var messageInput = document.getElementById("message");
  var sendButton = document.getElementById("send");

  socket.onmessage = function(event) {
    var message = event.data;
    chatWindow.innerHTML += "<p>" + message + "</p>";
  };

  sendButton.onclick = function() {
    var nickname = nicknameInput.value;
    var message = messageInput.value;
    socket.send(nickname + ": " + message);
    messageInput.value = "";
  };
</script>
</body>
</html>
