<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
  <title>Test Page</title>
</head>
<body>
<div id="button-container">
  <span id="authorizationToken" th:text="${Authorization}"></span>
</div>
<div id="container"></div>
<button type="button" onclick="getHTML()">요청하기</button>
<script th:inline="javascript">
  var token = [[${Authorization}]];
  localStorage.setItem("Authorization", token);
  window.addEventListener('beforeunload', function (event) {
    // 사용자가 페이지를 새로고침하려고 할 때 실행됩니다.
    event.preventDefault(); // 기본 동작을 막음 (경고 메시지를 표시하지 않음)
    getHTML();
  });

  function openInNewWindow(htmlContent) {
    var windowFeatures = 'fullscreen=yes,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=no';
    // 새 창 열기
    var urlToOpen = "http://localhost:8080/freeBoard";
    var newWindow = window.open('', '_top', windowFeatures);
    // 새 창에 HTML 내용 쓰기
    newWindow.document.open();
    newWindow.document.write(htmlContent);
    // 브라우저 히스토리 업데이트
    history.pushState(null, null, urlToOpen);
    newWindow.document.close();
  }

  function getHTML() {
    const requestOptions = {
      method: 'GET', // 또는 다른 HTTP 메서드 사용
      headers: new Headers({
        'Authorization': localStorage.getItem("Authorization"), // Authorization 헤더에 토큰을 추가
      }),
    };
    fetch('http://localhost:8080/freeBoard', requestOptions)
            .then(response => {
              if (!response.ok) {
                throw new Error('Network response was not ok');
              }
              return response.text(); // HTML 파일의 내용을 텍스트로 읽음
            })
            .then(htmlContent => {
              // 원격 HTML 파일의 내용을 사용하여 동적으로 페이지에 표시
              openInNewWindow(htmlContent);
            })
            .catch(error => {
              console.error('There was a problem with the fetch operation:', error);
            });
  }
</script>
</body>
</html>

